{% load compress %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% compress css %}
    <style>
    body {font: bold 19px Georgia;}
    </style>
    
    <style type="text/less">
    @color: #4D926F;

    #header {
      color: @color;
    }
    </style>
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" charset="utf-8">
      var a=1;
    </script>
    
    <script type="text/coffeescript" charset="utf-8">
    # Functions:
    square = (x) -> x * x
    </script>
    {% endcompress %}
    
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>